@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: Karla;
}

.textOverlay-white {
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-page-img {
    width: 100vw;
    height: 40vh;
}


.project-body {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;

}

/* Little peeps! */
#littlepeep1 {
    height: 170px;
    position: absolute;
    left: 7%;
    top: 100%;
}
#littlepeep2 {
    height: 170px;
    position: absolute;
    right: 12%;
    top: 170%;
}

#littlepeep3 {
    height: 140px;
    position: absolute;
    right: 9%;
    top: 270vh;
}
#littlepeep4 {
    height: 170px;
    position: absolute;
    left: 9%;
    top: 220%;
}


.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.icon-button {
   height: 37px;
   padding-left: 15px;
   padding-top: 5px;
   padding-right: 15px;
}

.project-button-selected,.project-button-unselected:hover {
    width: 150px;
    height: 40px;
    color: white;

    font-family: Karla;
    font-style: normal;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.075em;
    background: #57BE97;
    border: 3px solid #57BE97;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;

    outline: none;
}

.project-button-unselected {
    width: 150px;
    height: 40px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;

    font-family: 'Karla';
    font-style: normal;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.075em;
    background: white;
    border: 3px solid #57BE97;
    box-sizing: border-box;
    border-radius: 30px;
}

.project-page-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-div {
    border: 1.5px solid #0B0B0B;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px 60px 30px;
    width: 70%;
  }
  
  .project-title {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  
  .project-time {
    font-family: Karla;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    line-height: 0px;
    line-height: 0px;
  }
  
  .project-img {
    /* max-width: 60vw;
    max-height: 30vh; */
    /*width: 60vw;
    height: 30vh;
    */
    width: 25vw;
    height: 15vw;
    object-fit: cover;
    margin: 20px 20px 20px 20px;
  }
  
  .project-text {
    text-align: left;
    line-height: 20px;
    margin-top: 10px;
    width: 70%;
  }
  
  .project-description {
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
    text-align: left;
    /*Override bootstrap*/
    margin-top: 10px;
    margin-bottom: 0rem;
  }

  
  .github-button {
      width: 150px;
      height: 40px;
      color: black;
      margin-left: 10px;
      margin-right: 10px;
      justify-content: center;
      font-family: 'Karla';
      font-style: normal;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.075em;
      background: white;
      border: 3px solid #57BE97;
      box-sizing: border-box;
      border-radius: 30px;
  }
  
  .projects-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }


  @media (max-width: 1000px) {
    .imageContainer {
        position: relative;
        text-align: center;
        color: white;
        font-size: 70px;
        font-family: Karla;
    }
    .project-page-img {
        height: 15vh;
    }
    .project-body {
        margin-right: 5vw;
        margin-left: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    
    }
    

    .textOverlay-white {
        color: white;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    /* Little peeps! */
    #littlepeep1 {
        width: 27%;
        height: auto;
        position: absolute;
        left: -4%;
        top: 70%;
    }
    #littlepeep2 {
        width: 15%;
        height: auto;
        position: absolute;
        right: 1.4%;
        top: 170%;
    }

    #littlepeep3 {
        width: 22%;
        height: auto;
        position: absolute;
        right: 1.3%;
        top: 350vh;
    }
    #littlepeep4 {
        width: 23%;
        height: auto;
        position: absolute;
        left: 0.1%;
        top: 240%;
    }
    
    .project-div {
        border: 1.5px solid #0B0B0B;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px 30px 60px 30px;
        width: 95%;
    }
    
    .project-title {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 0.05em;
        text-align: center;
    }
    .project-img {
        height: 20vh;
        margin: 20px 20px 20px 20px;
        width: 60vw;
    }
    .projects-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-description {
        width: 90%;
        text-align: left;
      }
}
