:root {
  --forestgreen: #4DAB74;
  --seagreen: #57BE97;
  --mintgreen: #AFF1B9;
  --yellowish: #F2F3B7;
  --lmintgreen: #DCF4D4;
  --almostwhite:#D5EAE2;
  --white: #ffff;
  --black: #000000;
  --darkgrey: #202020;
}

* {
  box-sizing: border-box;
  font-family: 'Karla';
  color: rgba(0, 0, 0, 0.84);
}

#nav-logo, .not-apply, .apply {
  z-index: 2;
}

.not-apply, .apply {
  font-size: 1rem;
  font-family: Karla;
}


.topnav {
  overflow: hidden;
  background-color: var(--lmintgreen);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Style for logo items */
.topnav #nav-logo {
  display: flex;
  flex-direction: row;
  padding: 1vh 2vw;
  text-decoration: none;
}

.topnav #logo {
  width: 3vw;
  height: 3vw;
}

.topnav #name {
  margin-left: 24px;
  font-size: 150%;
  display: flex;
  align-items: center;
}

/* Styles for nav-items */
.topnav #nav-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh 2vw;
}

/* Style the topnav links */
.topnav .not-apply, .button {
  padding: 1vh 2vw;
  text-decoration: none;
}

.not-apply {
  color: rgba(0, 0, 0, 0.84);
}

.not-apply:hover {
  color: rgba(0, 0, 0, 0.84);
}

/* nav-items hover effects */
.topnav .not-apply:after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  margin-top: -2px;
  right: 0;
  background: rgba(0, 0, 0, 0.84);
  transition: width .3s ease;
  opacity: 0.75;
}

.topnav .not-apply:hover:after {
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.84);
  opacity: 0.75;
}

/* Button styles */
.button {
  color: white;
  background-color: var(--forestgreen);
  transition: 0.2s;
  border-radius: 12px;
}

/* Button hover effects */
.button:hover {
  color: white;
  text-decoration: none;
  background-color: #408D60;
}